@import url(https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900);





body {
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 4.25rem;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 3rem;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.5rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
.offer2 {
	margin-left:26%;
}
@media (max-width: 991px) {
	.offer2 {
	margin-left:10%;
}
}
@media (max-width: 768px) {
.offer2 {
	margin-left:0%;
}
}
/* Buttons */
.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
.btn-sm {
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #006b6f !important;
}
.bg-success {
  background-color: #055b62 !important;
}
.bg-info {
  background-color: #c5161d !important;
}
.bg-warning {
  background-color: #ffcc05 !important;
}
.bg-danger {
  background-color: #006b6f !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #006b6f !important;
  border-color: #006b6f !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #002123 !important;
  border-color: #002123 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #002123 !important;
  border-color: #002123 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #006b6f !important;
  border-color: #006b6f !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #002123 !important;
  border-color: #002123 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #002123 !important;
  border-color: #002123 !important;
}
.btn-info,
.btn-info:active {
  background-color: #c5161d !important;
  border-color: #c5161d !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #800e13 !important;
  border-color: #800e13 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #800e13 !important;
  border-color: #800e13 !important;
}
.btn-success,
.btn-success:active {
  background-color: #055b62 !important;
  border-color: #055b62 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #011719 !important;
  border-color: #011719 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #011719 !important;
  border-color: #011719 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffcc05 !important;
  border-color: #ffcc05 !important;
  color: #050400 !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #050400 !important;
  background-color: #b79200 !important;
  border-color: #b79200 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #050400 !important;
  background-color: #b79200 !important;
  border-color: #b79200 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #006b6f !important;
  border-color: #006b6f !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #002123 !important;
  border-color: #002123 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #002123 !important;
  border-color: #002123 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #000909;
  color: #000909;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #006b6f;
  border-color: #006b6f;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #006b6f !important;
  border-color: #006b6f !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #000909;
  color: #000909;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #006b6f;
  border-color: #006b6f;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #006b6f !important;
  border-color: #006b6f !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #690c0f;
  color: #690c0f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #c5161d;
  border-color: #c5161d;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #c5161d !important;
  border-color: #c5161d !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #000101;
  color: #000101;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #055b62;
  border-color: #055b62;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #055b62 !important;
  border-color: #055b62 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #9e7e00;
  color: #9e7e00;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #050400;
  background-color: #ffcc05;
  border-color: #ffcc05;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #050400 !important;
  background-color: #ffcc05 !important;
  border-color: #ffcc05 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #000909;
  color: #000909;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #006b6f;
  border-color: #006b6f;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #006b6f !important;
  border-color: #006b6f !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #006b6f !important;
}
.text-secondary {
  color: #006b6f !important;
}
.text-success {
  color: #055b62 !important;
}
.text-info {
  color: #c5161d !important;
}
.text-warning {
  color: #ffcc05 !important;
}
.text-danger {
  color: #006b6f !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #000909 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #000909 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #000101 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #690c0f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #9e7e00 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #000909 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #c5161d;
}
.alert-warning {
  background-color: #ffcc05;
}
.alert-danger {
  background-color: #006b6f;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #006b6f;
  border-color: #006b6f;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #006b6f;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #00e6ef;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #0bccdb;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ef6c71;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fff6d1;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #00e6ef;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #fff;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #006b6f;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form2 .form-control {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form2 .input-group-btn button[type="submit"] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form3 input[type="email"] {
  border-radius: 100px !important;
}
@media (max-width: 349px) {
  .form2 input[type="email"] {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #006b6f;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #006b6f;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #006b6f;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #006b6f;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
.offset-1 {
  margin-left: 8.33333%;
}
.offset-2 {
  margin-left: 16.66667%;
}
.offset-3 {
  margin-left: 25%;
}
.offset-4 {
  margin-left: 33.33333%;
}
.offset-5 {
  margin-left: 41.66667%;
}
.offset-6 {
  margin-left: 50%;
}
.offset-7 {
  margin-left: 58.33333%;
}
.offset-8 {
  margin-left: 66.66667%;
}
.offset-9 {
  margin-left: 75%;
}
.offset-10 {
  margin-left: 83.33333%;
}
.offset-11 {
  margin-left: 91.66667%;
}
@media (min-width: 576px) {
  .offset-sm-0 {
    margin-left: 0%;
  }
  .offset-sm-1 {
    margin-left: 8.33333%;
  }
  .offset-sm-2 {
    margin-left: 16.66667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.33333%;
  }
  .offset-sm-5 {
    margin-left: 41.66667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.33333%;
  }
  .offset-sm-8 {
    margin-left: 66.66667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.33333%;
  }
  .offset-sm-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 768px) {
  .offset-md-0 {
    margin-left: 0%;
  }
  .offset-md-1 {
    margin-left: 8.33333%;
  }
  .offset-md-2 {
    margin-left: 16.66667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.33333%;
  }
  .offset-md-5 {
    margin-left: 41.66667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.33333%;
  }
  .offset-md-8 {
    margin-left: 66.66667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.33333%;
  }
  .offset-md-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 992px) {
  .offset-lg-0 {
    margin-left: 0%;
  }
  .offset-lg-1 {
    margin-left: 8.33333%;
  }
  .offset-lg-2 {
    margin-left: 16.66667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.33333%;
  }
  .offset-lg-5 {
    margin-left: 41.66667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.33333%;
  }
  .offset-lg-8 {
    margin-left: 66.66667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.33333%;
  }
  .offset-lg-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 1200px) {
  .offset-xl-0 {
    margin-left: 0%;
  }
  .offset-xl-1 {
    margin-left: 8.33333%;
  }
  .offset-xl-2 {
    margin-left: 16.66667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.33333%;
  }
  .offset-xl-5 {
    margin-left: 41.66667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.33333%;
  }
  .offset-xl-8 {
    margin-left: 66.66667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.33333%;
  }
  .offset-xl-11 {
    margin-left: 91.66667%;
  }
}
.navbar-toggler {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: transparent;
  border: 1px solid transparent;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
}
.navbar-toggler:focus,
.navbar-toggler:hover {
  text-decoration: none;
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.navbar-toggler-left {
  position: absolute;
  left: 1rem;
}
.navbar-toggler-right {
  position: absolute;
  right: 1rem;
}
@media (max-width: 575px) {
  .navbar-toggleable .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 576px) {
  .navbar-toggleable {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable .navbar-toggler {
    display: none;
  }
}
@media (max-width: 767px) {
  .navbar-toggleable-sm .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-sm > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .navbar-toggleable-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-sm .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-sm .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-sm > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-sm .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-sm .navbar-toggler {
    display: none;
  }
}
@media (max-width: 991px) {
  .navbar-toggleable-md .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-md > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 992px) {
  .navbar-toggleable-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-md > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-md .navbar-toggler {
    display: none;
  }
}
@media (max-width: 1199px) {
  .navbar-toggleable-lg .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-lg > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 1200px) {
  .navbar-toggleable-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-lg > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-lg .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-lg .navbar-toggler {
    display: none;
  }
}
.navbar-toggleable-xl {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-toggleable-xl .navbar-nav .dropdown-menu {
  position: static;
  float: none;
}
.navbar-toggleable-xl > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-toggleable-xl .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.navbar-toggleable-xl .navbar-nav .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
}
.navbar-toggleable-xl > .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-toggleable-xl .navbar-collapse {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: 100%;
}
.navbar-toggleable-xl .navbar-toggler {
  display: none;
}
.card-img {
  width: auto;
}
.menu .navbar.collapsed:not(.beta-menu) {
  flex-direction: column;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}
.cid-qZaAt0WgNy {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #ffda50;
}
.cid-qZaAt0WgNy H2 {
  color: #006b6f;
}
.cid-qZaAOgtiko {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #f9f9f9;
}

.cid-qZwwKeVBhV {
  padding-top: 15px;
  padding-bottom: 0px;
  background: #ffffff;
}
.cid-qZwwKeVBhV .image-block {
  margin: auto;
}
.cid-qZwwKeVBhV figcaption {
  position: relative;
}
.cid-qZwwKeVBhV figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-qZwwKeVBhV .image-block {
    width: 100% !important;
  }
}
.cid-qZ82P680Ik {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-qZ82P680Ik .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-qZ82P680Ik .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-qZ82P680Ik .mbr-text {
    text-align: center;
  }
}
.cid-qZ82P680Ik B {
  color: #055b62;
}
.cid-qZ82P680Ik .mbr-text,
.cid-qZ82P680Ik .mbr-section-btn {
  color: #232323;
}
.cid-qZaBp6FzZO {
  padding-top: 0px;
  padding-bottom: 90px;
  background-color: #f9f9f9;
}
.cid-qZaBp6FzZO .list-group-item {
  padding: .75rem 3.25rem;
}
.cid-qZaBp6FzZO .plan {
  word-break: break-word;
  position: relative;
  max-width: 300px;
  padding-right: 0;
  padding-left: 0;
  color: #767676;
  background-color: #ffffff;
}
.cid-qZaBp6FzZO .plan .list-group-item {
  position: relative;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
}
.cid-qZaBp6FzZO .plan .list-group-item::after {
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 60%;
  height: 2px;
  content: "";
  background-color: #eaeaea;
}
.cid-qZaBp6FzZO .plan .list-group-item:last-child::after {
  display: none;
}
.cid-qZaBp6FzZO .plan.favorite {
  background-color: #fff;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.07);
  border: solid 1px #999999;
}
.cid-qZaBp6FzZO .plan-header {
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-qZaBp6FzZO .price-figure {
  font-weight: 700;
  color: #232323;
}
.cid-qZaBp6FzZO .price-value {
  font-weight: 700;
  vertical-align: top;
  color: #232323;
}
@media (max-width: 550px) {
  .cid-qZaBp6FzZO .price-figure {
    font-size: 4.25rem;
  }
}
.cid-qZaBp6FzZO .price-term B {
  color: #232323;
}
.cid-qZaBp6FzZO .plan-title {
  color: #055b62;
}
.cid-qZbj1VcMPO {
  padding-top: 30px;
  padding-bottom: 0px;
  background-image: url("../../../assets/images/background-stripe-4-1200x1200.png");
}
.cid-qZbj1VcMPO2 {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #f9f9f9;
}

@media (min-width: 992px) {
  .cid-qZbj1VcMPO .mbr-figure, .cid-qZbj1VcMPO2 .mbr-figure{
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-qZbj1VcMPO .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-qZbj1VcMPO .mbr-text {
    text-align: center;
  }
}
.cid-qZbj1VcMPO B {
  color: #055b62;
}
.cid-qZbj1VcMPO .mbr-text,
.cid-qZbj1VcMPO .mbr-section-btn {
  color: #232323;
}
.cid-qZbj1VcMPO .mbr-text,
.cid-qZbj1VcMPO .mbr-section-btn B {
  color: #7f1933;
}
.cid-qZbj1VcMPO DIV {
  color: #232323;
}
.cid-qZbj1VcMPO H3 {
  color: #232323;
}
.cid-qZag2eTysg {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qZag2eTysg H2 {
  color: #055b62;
}
.cid-qZ89YUfzso {
  padding-top: 0px;
  padding-bottom: 5px;
  background-image: url("../../../assets/images/background-product-2-1400x1000.jpg");
}
.cid-qZ89YUfzso .card-img {
  background-color: #fff;
  display: none;
}
.cid-qZ89YUfzso .card-box {
  padding: 2rem;
  border-right: 2px solid #ffcb05;
}
.cid-qZ89YUfzso h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-qZ89YUfzso p {
  text-align: left;
}
.cid-qZ89YUfzso .mbr-text {
  color: #767676;
}
.cid-qZ89YUfzso .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-qZ89YUfzso .card-wrapper:hover {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
@media (min-width: 992px) {
  .cid-qZ89YUfzso .my-col {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 15px;
  }
}
.cid-qZ8h6O0fqU {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-qZ8h6O0fqU .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-qZ8h6O0fqU .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-qZ8h6O0fqU .mbr-text {
    text-align: center;
  }
}
.cid-qZ8h6O0fqU .mbr-text,
.cid-qZ8h6O0fqU .mbr-section-btn {
  color: #232323;
}
.cid-qZ8kcMSRCJ {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qZ8kcMSRCJ h4 {
  text-align: left;
  font-weight: 500;
}
.cid-qZ8kcMSRCJ p {
  color: #767676;
  text-align: left;
}
.cid-qZ8kcMSRCJ .card-img {
  text-align: left;
  padding-right: 30px;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: auto;
}
.cid-qZ8kcMSRCJ .card-img span {
  font-size: 72px;
  color: #707070;
}
.cid-qZ8kcMSRCJ .card-title {
  margin-bottom: 0;
}
.cid-qZ8kcMSRCJ .mbr-crt-title {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.cid-qZ8kcMSRCJ .media {
  margin: initial;
  align-items: center;
}
@media (max-width: 300px) {
  .cid-qZ8kcMSRCJ .card-img span {
    font-size: 40px !important;
  }
}
.cid-qZ8kcMSRCJ .card-title,
.cid-qZ8kcMSRCJ .card-img {
  color: #055b62;
}
.cid-qZai7XQSYY {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qZai7XQSYY .mbr-section-subtitle {
  color: #055b62;
}
.cid-qZai7XQSYY H2 {
  color: #232323;
}
.cid-qZaj3XDe8D {
  padding-top: 0px;
  padding-bottom: 15px;
  background: #ffffff;
}
.cid-qZaj3XDe8D .image-block {
  margin: auto;
}
.cid-qZaj3XDe8D figcaption {
  position: relative;
}
.cid-qZaj3XDe8D figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-qZaj3XDe8D .image-block {
    width: 100% !important;
  }
}
.cid-qZ9Xj5fBvo {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/background-stripe-4-1200x1200.png");
}
.cid-qZ9Xj5fBvo .media-container-row {
  flex-direction: row-reverse;
}
@media (min-width: 992px) {
  .cid-qZ9Xj5fBvo .mbr-figure {
    padding-right: 4rem;
    padding-right: 0;
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-qZ9Xj5fBvo .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-qZ9Xj5fBvo .mbr-text {
    text-align: center;
  }
}
.cid-qZ9Xj5fBvo .mbr-text,
.cid-qZ9Xj5fBvo .mbr-section-btn {
  color: #232323;
}
.cid-qZ9ZwSXlrR {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-qZ9ZwSXlrR .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-qZ9ZwSXlrR .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-qZ9ZwSXlrR .mbr-text {
    text-align: center;
  }
}
.cid-qZ9ZwSXlrR .mbr-text,
.cid-qZ9ZwSXlrR .mbr-section-btn {
  color: #232323;
  text-align: left;
}
.cid-qZ9ZwSXlrR H1 {
  color: #055b62;
}
.cid-qZa1CHiAVO {
  padding-top: 0px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/background-product2-1-1400x1000.jpg");
}
.cid-qZa1CHiAVO h1 {
  color: #616161;
}
.cid-qZa1CHiAVO h2,
.cid-qZa1CHiAVO h3,
.cid-qZa1CHiAVO p {
  color: #767676;
}
.cid-qZa1CHiAVO .mbr-section-subtitle {
  font-style: italic;
}
.cid-qZa1CHiAVO H1 {
  color: #055b62;
}
.cid-qZa1CHiAVO P {
  color: #055b62;
}
.cid-qZa1CHiAVO SPAN {
  color: #232323;
}
.cid-qZa2z2K8y0 {
  padding-top: 30px;
  padding-bottom: 0px;
  background-image: url("../../../assets/images/background-stripe-4-1200x1200.png");
}
@media (min-width: 992px) {
  .cid-qZa2z2K8y0 .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-qZa2z2K8y0 .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-qZa2z2K8y0 .mbr-text {
    text-align: center;
  }
}
.cid-qZa2z2K8y0 B {
  color: #055b62;
}
.cid-qZa2z2K8y0 .mbr-text,
.cid-qZa2z2K8y0 .mbr-section-btn {
  color: #232323;
}
.cid-qZa2z2K8y0 .mbr-text,
.cid-qZa2z2K8y0 .mbr-section-btn B {
  color: #7f1933;
}
.cid-qZa2z2K8y0 DIV {
  color: #232323;
}
.cid-qZa2z2K8y0 H3 {
  color: #232323;
}
.cid-qZamNxDKjx {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qZamNxDKjx H2 {
  color: #055b62;
}
.cid-qZa4eV6Gdm {
  padding-top: 15px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/background-product3-1-1400x1000.jpg");
}
.cid-qZa4eV6Gdm h1 {
  color: #616161;
}
.cid-qZa4eV6Gdm h2,
.cid-qZa4eV6Gdm h3,
.cid-qZa4eV6Gdm p {
  color: #767676;
}
.cid-qZa4eV6Gdm .mbr-section-subtitle {
  font-style: italic;
}
.cid-qZa4eV6Gdm H1 {
  color: #055b62;
}
.cid-qZa4eV6Gdm SPAN {
  color: #232323;
}
.cid-qZa4eV6Gdm B {
  color: #232323;
}
.cid-qZx6BvK4v2 {
  padding-top: 0px;
  padding-bottom: 0px;
  background: #ffffff;
}
.cid-qZx6BvK4v2 .image-block {
  margin: auto;
}
.cid-qZx6BvK4v2 figcaption {
  position: relative;
}
.cid-qZx6BvK4v2 figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-qZx6BvK4v2 .image-block {
    width: 100% !important;
  }
}
.cid-qZas3htVFH {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qZas3htVFH .mbr-text B {
  color: #055b62;
}
.cid-qZas3htVFH .mbr-section-subtitle {
  color: #232323;
}
.cid-qZa8h38pzz {
  padding-top: 0px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-qZa8h38pzz .media-container-row {
  flex-direction: row-reverse;
}
@media (min-width: 992px) {
  .cid-qZa8h38pzz .mbr-figure {
    padding-right: 4rem;
    padding-right: 0;
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-qZa8h38pzz .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-qZa8h38pzz .mbr-text {
    text-align: center;
  }
}
.cid-qZa8h38pzz .mbr-text,
.cid-qZa8h38pzz .mbr-section-btn {
  color: #232323;
}
.cid-qZab1shL22 {
  padding-top: 0px;
  padding-bottom: 0px;
  background: #ffffff;
}
.cid-qZab1shL22 .image-block {
  margin: auto;
}
.cid-qZab1shL22 figcaption {
  position: relative;
}
.cid-qZab1shL22 figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-qZab1shL22 .image-block {
    width: 100% !important;
  }
}
.cid-qZasMy2hR9 {
  background: #ffffff;
}
.cid-qZasMy2hR9 .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-qZasMy2hR9 .mbr-figure {
  margin: 0 auto;
}
.cid-qZasMy2hR9 figcaption {
  position: relative;
}
.cid-qZasMy2hR9 figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-qZasMy2hR9 .image-block {
    width: 100% !important;
  }
}
.cid-qZadCqUKBL {
  padding-top: 0px;
  padding-bottom: 0px;
  background: #ffda50;
}
.cid-qZadCqUKBL .image-block {
  margin: auto;
}
.cid-qZadCqUKBL figcaption {
  position: relative;
}
.cid-qZadCqUKBL figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-qZadCqUKBL .image-block {
    width: 100% !important;
  }
}
