/* line 2, ../../scss/components/cart-tables.scss */
.page-cart table, .page-checkout table {
  /*border: 1px solid black;*/
  width: 100%;
}
/* line 5, ../../scss/components/cart-tables.scss */
.page-cart table tr, .page-checkout table tr {
  padding: 0;
}
/* line 8, ../../scss/components/cart-tables.scss */
.page-cart table td, .page-checkout table td {
  /*border: 1px solid #D6D6D6;*/
  font-size: 0.9em;
  padding: 5px !important;
  background: #FFF;
}
/* line 13, ../../scss/components/cart-tables.scss */
.page-cart table td a, .page-checkout table td a {
  color: #585858;
}
/* line 17, ../../scss/components/cart-tables.scss */
.page-cart table th, .page-checkout table th {
  border-bottom: 1px solid #D6D6D6;
  border-top: 1px solid #D6D6D6;
  background: #EDECEC;
  padding: 5px 0;
  color: #7A7A7A;
}
/* line 25, ../../scss/components/cart-tables.scss */
.page-cart input[type='submit'], .page-checkout input[type='submit'] {
  display: inline-block;
  border-radius: 3px;
  padding: 5px 7px;
  background: #CB222D;
  border: none;
  font: bold 0.9em sans-serif;
  color: #FFF;
  text-decoration: none;
  margin: 0px 5px;
}

/* line 42, ../../scss/components/cart-tables.scss */
.page-checkout .form-wrapper .form-item {
  /*border: 1px solid black;*/
  display: block;
  float: none;
}

/* line 48, ../../scss/components/cart-tables.scss */
.page-checkout .form-wrapper input[type="text"] {
  width: 100%;
  margin: 0;
  padding: 5px 5px 5px 2px;
  position: relative;
  box-sizing: border-box;
  color: #7E7E7E;
}

/* line 57, ../../scss/components/cart-tables.scss */
.page-checkout label {
  display: block;
  color: #4F4F4F;
  margin: 25px 0 10px;
  font-weight: bold;
}

/* line 65, ../../scss/components/cart-tables.scss */
.page-checkout div.addressfield-container-inline > div.form-item {
  /*border: 1px solid black;*/
  display: block;
  float: none;
  margin: 0;
}

/* line 72, ../../scss/components/cart-tables.scss */
.page-checkout .checkout-buttons {
  margin: 30px 0 0;
}

/* line 76, ../../scss/components/cart-tables.scss */
.page-checkout legend {
  font-weight: 500;
  font-size: 1.3em;
  margin: 20px 0 20px 0;
  border: 1px solid #CDCDCD;
  display: block !important;
  width: 100%;
  padding: 5px;
  background: #FFB700;
  color: #fff;
}
