@import "helpers/variables";


@mixin slats {
.slats {
  margin-top: 20px;

  li {
    margin: 0 0 20px;
    padding: 20px;
    /*[disabled]border:1px solid #E4E3E3;*/
    /*[disabled]min-height:142px;*/
    overflow: auto;
    border-radius: 5px;
    background: #E4E3E3;

    h3 {
      font-size: 18px;
      font-weight: bold;
      line-height: 1.1;

      a {
        color: #eb6b00;
        text-decoration: none;
        font-family: verdana;

        img {
          float: left;
          margin: 0 10px 0 0;
          border: 2px solid #CBCBCB;
          border-radius: 5px;
        }
      }
    }

    p {
      margin: 0 0 0 76px;
      font-size: 14px;
      line-height: 1.4;
    }
  }

  span.meta {
    display: block;
    font-size: 12px;
    color: #999;
  }
}
}


@mixin btn ($width: auto, $margin:0) {

display: inline-block;
border: 3px solid rgba(0, 20, 25, 0.6);
text-align: left;
padding: 10px 35px 10px 10px;
font: bold 18px helvetica;
border-radius: 5px;
margin: $margin;
color: #192426;
@include background-image(linear-gradient(#a3cfda, #7fb1bd));
box-shadow: inset 0px 1px #AEF5FF;
text-shadow: 0px 1px #AAF0FA;
width: $width;
position: relative;

&:after {
  content:"";
  width:19px;
  height: 19px;
  display: inline-block;
  position: absolute;
  top: 12px;
  right: 6px;
  @include border-radius(30px);
  background: #5f99a8 url(../images/buttons/btn-1-arrow.png) no-repeat center center;
  margin-left: 5px;

}

}

@mixin btn-secondary {
@include background-image(linear-gradient(#f5a15b, #eb6b00));

}

@mixin btn-small-primary {

  a {
  display: block;
  padding: 5px 0px;
  text-align: center;
  border-radius: 5px;
  @include background-image(linear-gradient(#a3cfda, #7fb1bd));
  color: #192426;
  border: 2px solid rgba(0, 20, 25, 0.6);
  box-shadow: inset 0px 1px #AEF5FF;
  text-shadow: 0px 1px #AAF0FA;

  &:hover {
    border: 2px solid rgba(37, 34, 32, 0.6);
    @include background-image(linear-gradient(#f5a15b, #eb6b00));
    box-shadow: inset 0px 1px #E5BEAF;
    text-shadow: 0px 1px #F0B199;

   }
  }
 }






