//colors
$maintitle-color: #00539F;
$mainbutton-color: #fff;
$main-font-color: #646464;
$font-sans-seriff: Helvetica, Arial, sans-serif !important;


$break-mobile-portrait: 320px;
$break-mobile-landscape: 480px; 
$break-small-tablet-portrait: 600px; 
$break-medium-tablet-portrait: 660px; 
$break-tablet-portrait: 768px; 
$break-small-tablet-landscape: 800px; 
$break-medium-tablet-landscape: 960px;
$break-tablet-landscape: 1024px; 


