#section-page-title .region,
#edit-gsl-feature-filter-list {
    display: none;
}

#edit_gsl_addressfield_und_0_administrative_area_chosen {
    display: block !important;
}

#edit-field-event-date .end-date-wrapper .date-padding  .form-type-textfield:first-child{
    display: none;
}

.store {
  line-height:1em;
}

#store-location-node-form .chosen-container {
  width:150px !important;
}

.container-inline-date .form-item .form-item,
.container-inline-date .date-padding{
  float: none !important;
}

.container-inline-date {
  display: inline;
}

.form-item-field-date-und-0-value2 > label {
  display: none;
}

.form-item-field-date-und-0-value-date label:before {
  content: 'Start ';
}

.form-item-field-date-und-0-value2-date label:before {
  content: 'End ';
}

#edit-field-event-date .container-inline-date .date-padding,
#edit-field-event-date .container-inline-date .form-item .form-item{
  float: left !important;
}

#edit-field-event-date .form-type-date-popup label {
  float: left;
}