/* line 4, ../../../scss/layout/header/header.scss */
header {
  width: 100%;
  border: 1px solid transparent;
  background: url(../images/layout/header-bg.png) right 0px no-repeat;
}
/* line 4, ../../../scss/layout/header/header-top.scss */
header .header-top {
  background: #2e5352;
  height: 85px;
}
/* line 8, ../../../scss/layout/header/header-top.scss */
header .header-top .inner {
  max-width: 1200px;
  margin: 0 auto;
  height: 200px;
  overflow: auto;
}
/* line 15, ../../../scss/layout/header/header-top.scss */
header .header-top .inner .blk-logo {
  float: left;
  margin: 0;
  padding: 12px;
  background: #fff;
  border-radius: 5px;
  margin-top: 30px;
  margin-left: 0px;
  /*+box-shadow: 0 0 5px 0px #333333;*/
  -moz-box-shadow: 0 0 5px 0px #333333;
  -webkit-box-shadow: 0 0 5px 0px #333333;
  box-shadow: 0 0 5px 0px #333333;
}
/* line 31, ../../../scss/layout/header/header-top.scss */
header .header-top .blk-order-online {
  width: 30%;
  float: left;
  font: bold 1em arial;
  color: #7cc1c1;
  margin: 26px 0 0 4.5%;
  position: relative;
}
/* line 40, ../../../scss/layout/header/header-top.scss */
header .header-top .blk-order-online p.do-something {
  background: #0f2e2e;
  border-radius: 5px;
  padding: 5px 10px 5px 55px;
}
/* line 46, ../../../scss/layout/header/header-top.scss */
header .header-top .blk-order-online img {
  position: absolute;
  top: -12px;
  left: -7px;
}
/* line 53, ../../../scss/layout/header/header-top.scss */
header .header-top .blk-cart-summary {
  float: right;
  margin: 10px 30px 0 0px;
  height: 68px;
  width: 45%;
}
/* line 63, ../../../scss/layout/header/header-top.scss */
header .header-top .blk-cart-summary .view-empty .line-item-summary {
  overflow: auto;
  display: inline-block;
  height: 60px;
}
/* line 71, ../../../scss/layout/header/header-top.scss */
header .header-top .blk-cart-summary .view-empty > p {
  font: 0.7em sans-serif;
  display: inline-block;
  margin: 0 0 57px 0;
  padding: 0px 10px 0px 0;
  vertical-align: middle;
  font-size: 1.1em;
  color: #7cc1c1;
  font-weight: bold;
}
/* line 84, ../../../scss/layout/header/header-top.scss */
header .header-top .blk-cart-summary .line-item-total, header .header-top .blk-cart-summary .line-item-quantity {
  margin: 15px 0 0 0 !important;
}
/* line 88, ../../../scss/layout/header/header-top.scss */
header .header-top .blk-cart-summary .line-item-summary {
  font: 1.2em sans-serif;
  margin: 10px 0 0;
  color: #7cc1c1;
}
/* line 97, ../../../scss/layout/header/header-top.scss */
header .header-top .blk-cart-summary .line-item-summary .line-item-quantity-raw, header .header-top .blk-cart-summary .line-item-summary .line-item-total-raw {
  display: inline-block;
  padding: 3px 5px 2px 5px !important;
  background: #cb222d;
  color: #fff;
  border-radius: 3px;
}
/* line 105, ../../../scss/layout/header/header-top.scss */
header .header-top .blk-cart-summary .line-item-summary .links {
  margin-left: 20px;
}
/* line 108, ../../../scss/layout/header/header-top.scss */
header .header-top .blk-cart-summary .line-item-summary .links li {
  margin: 0 !important;
  padding: 0px;
}
/* line 112, ../../../scss/layout/header/header-top.scss */
header .header-top .blk-cart-summary .line-item-summary .links li a {
  text-decoration: none;
  margin: 0;
  color: #7cc1c1;
  display: inline-block;
  font-size: .8em;
  padding-top: 40px;
}
/* line 123, ../../../scss/layout/header/header-top.scss */
header .header-top .blk-cart-summary .line-item-summary .links .line-item-summary-view-cart {
  padding: 0 30px 0 10px !important;
}
/* line 127, ../../../scss/layout/header/header-top.scss */
header .header-top .blk-cart-summary .line-item-summary .links .line-item-summary-view-cart a {
  background: url(../images/icons/icon-cart.png) 14px 8px no-repeat;
}
/* line 130, ../../../scss/layout/header/header-top.scss */
header .header-top .blk-cart-summary .line-item-summary .links .line-item-summary-view-cart a:hover {
  background: url(../images/icons/icon-cart.png) 14px -44px no-repeat;
}
/* line 137, ../../../scss/layout/header/header-top.scss */
header .header-top .blk-cart-summary .line-item-summary .links .line-item-summary-checkout {
  padding-left: 5px !important;
}
/* line 140, ../../../scss/layout/header/header-top.scss */
header .header-top .blk-cart-summary .line-item-summary .links .line-item-summary-checkout a {
  background: url(../images/icons/icon-checkout.png) 14px 8px no-repeat;
}
/* line 143, ../../../scss/layout/header/header-top.scss */
header .header-top .blk-cart-summary .line-item-summary .links .line-item-summary-checkout a:hover {
  background: url(../images/icons/icon-checkout.png) 14px -44px no-repeat;
}
/* line 150, ../../../scss/layout/header/header-top.scss */
header .header-top .blk-cart-summary .line-item-summary .line-item-quantity {
  float: left;
  padding-right: 10px;
}
/* line 155, ../../../scss/layout/header/header-top.scss */
header .header-top .blk-cart-summary .line-item-summary .line-item-total {
  border-left: 1px solid #7cc1c1;
  border-right: 1px solid #7cc1c1;
  padding: 0 10px !important;
  float: left;
  margin: 0 0 0 -1px;
}
@media screen and (max-width: 1024px) {
  /* line 174, ../../../scss/layout/header/header-top.scss */
  header .header-top .inner .blk-logo {
    margin-left: 20px;
  }
  /* line 177, ../../../scss/layout/header/header-top.scss */
  header .header-top .inner .blk-order-online {
    width: 25%;
    min-width: 186px;
    margin-left: 3%;
    font: bold .9em arial;
  }
  /* line 183, ../../../scss/layout/header/header-top.scss */
  header .header-top .inner .blk-order-online img {
    top: -2px;
    left: -14px;
  }
  /* line 189, ../../../scss/layout/header/header-top.scss */
  header .header-top .inner .blk-cart-summary {
    margin: 10px 2% 0 0px;
    width: 47%;
    min-width: 390px;
  }
  /* line 197, ../../../scss/layout/header/header-top.scss */
  header .header-top .inner .blk-cart-summary .line-item-summary .links .line-item-summary-view-cart {
    padding: 0 10px 0 0px !important;
  }
}
@media screen and (max-width: 960px) {
  /* line 219, ../../../scss/layout/header/header-top.scss */
  header .header-top .inner .blk-logo {
    margin-left: 10px;
  }
  /* line 222, ../../../scss/layout/header/header-top.scss */
  header .header-top .inner .blk-order-online {
    width: 24%;
    margin-left: 3%;
  }
  /* line 226, ../../../scss/layout/header/header-top.scss */
  header .header-top .inner .blk-order-online img {
    top: -2px;
    left: -14px;
  }
  /* line 232, ../../../scss/layout/header/header-top.scss */
  header .header-top .inner .blk-cart-summary {
    margin: 10px 1% 0 0px;
    width: 47%;
  }
  /* line 238, ../../../scss/layout/header/header-top.scss */
  header .header-top .inner .blk-cart-summary .line-item-summary .links .line-item-summary-view-cart {
    padding: 0 10px 0 0px !important;
  }
}
@media screen and (max-width: 800px) {
  /* line 254, ../../../scss/layout/header/header-top.scss */
  header .header-top {
    border: 1px solid purple;
    height: 170px;
  }
  /* line 258, ../../../scss/layout/header/header-top.scss */
  header .header-top .inner {
    height: 200px;
  }
  /* line 261, ../../../scss/layout/header/header-top.scss */
  header .header-top .inner .blk-logo {
    margin-left: 2%;
  }
  /* line 266, ../../../scss/layout/header/header-top.scss */
  header .header-top .inner .blk-order-online {
    width: 65% !important;
    margin-left: 6%;
    margin-top: 40px;
  }
  /* line 271, ../../../scss/layout/header/header-top.scss */
  header .header-top .inner .blk-order-online img {
    top: -14px;
  }
  /* line 278, ../../../scss/layout/header/header-top.scss */
  header .header-top .blk-cart-summary {
    width: 65% !important;
    display: block;
    float: left;
    padding-left: 30px;
  }
  /* line 284, ../../../scss/layout/header/header-top.scss */
  header .header-top .blk-cart-summary .view-empty {
    margin: 0 0 0 0;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  /* line 309, ../../../scss/layout/header/header-top.scss */
  header .header-top .blk-cart-summary .line-item-summary .links .line-item-summary-view-cart {
    padding: 0 10px 0 0px !important;
  }
}
@media screen and (max-width: 660px) {
  /* line 328, ../../../scss/layout/header/header-top.scss */
  header .header-top .blk-cart-summary {
    width: 68% !important;
    padding-left: 6px;
  }
  /* line 336, ../../../scss/layout/header/header-top.scss */
  header .header-top .blk-cart-summary .line-item-summary .links .line-item-summary-view-cart {
    padding: 0 0 0 0 !important;
  }
}
@media screen and (max-width: 600px) {
  /* line 347, ../../../scss/layout/header/header-top.scss */
  header .header-top {
    height: 280px;
  }
  /* line 352, ../../../scss/layout/header/header-top.scss */
  header .header-top .inner {
    height: 300px !important;
    border: 1px solid red;
  }
  /* line 356, ../../../scss/layout/header/header-top.scss */
  header .header-top .inner .blk-logo {
    float: none;
    display: block;
    margin: 10px auto 20px auto;
    width: 96%;
    text-align: center;
  }
  /* line 363, ../../../scss/layout/header/header-top.scss */
  header .header-top .inner .blk-logo img {
    margin: 10px auto;
  }
  /* line 368, ../../../scss/layout/header/header-top.scss */
  header .header-top .inner .blk-order-online {
    width: 80% !important;
    display: block;
    float: none;
    text-align: center;
    margin: 0 auto;
  }
  /* line 376, ../../../scss/layout/header/header-top.scss */
  header .header-top .inner .blk-cart-summary {
    width: 90% !important;
    display: block;
    margin: 10px auto !important;
    float: none;
    padding: 0px;
  }
}
@media screen and (max-width: 480px) {
  /* line 395, ../../../scss/layout/header/header-top.scss */
  header .header-top {
    height: auto;
  }
  /* line 399, ../../../scss/layout/header/header-top.scss */
  header .header-top .inner {
    height: 350px !important;
  }
  /* line 402, ../../../scss/layout/header/header-top.scss */
  header .header-top .inner .blk-cart-summary {
    min-width: 100px !important;
    height: 110px;
  }
  /* line 408, ../../../scss/layout/header/header-top.scss */
  header .header-top .inner .blk-cart-summary .view-empty > p {
    margin: 4px 0 57px 0;
    font-size: 1em;
  }
  /* line 414, ../../../scss/layout/header/header-top.scss */
  header .header-top .inner .blk-cart-summary .line-item-summary {
    font-size: 1em;
    text-align: center;
  }
  /* line 418, ../../../scss/layout/header/header-top.scss */
  header .header-top .inner .blk-cart-summary .line-item-summary .links {
    min-width: 30px !important;
    display: block;
    margin: 20px 0 0 0;
    padding: 0px;
    left: 0;
    float: none;
  }
  /* line 426, ../../../scss/layout/header/header-top.scss */
  header .header-top .inner .blk-cart-summary .line-item-summary .line-item-quantity {
    float: none;
    display: inline-block;
  }
  /* line 431, ../../../scss/layout/header/header-top.scss */
  header .header-top .inner .blk-cart-summary .line-item-summary .line-item-total {
    float: none;
    display: inline-block;
  }
}
/* line 1, ../../../scss/layout/header/header-center.scss */
header .header-center {
  width: 100%;
  background: #436f6f;
}
/* line 4, ../../../scss/layout/header/header-center.scss */
header .header-center .inner {
  max-width: 1200px;
  margin: 0 auto;
  overflow: auto;
  height: 150px;
  position: relative;
}
/* line 12, ../../../scss/layout/header/header-center.scss */
header .header-center .inner .blk-login {
  border: 1px solid #fff;
  position: absolute;
  bottom: 0px;
  width: 387px;
  background: #f6f6f6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px 10px 15px 10px;
  /*+box-shadow: 0 0 5px 0px #333333;*/
  -moz-box-shadow: 0 0 5px 0px #333333;
  -webkit-box-shadow: 0 0 5px 0px #333333;
  box-shadow: 0 0 5px 0px #333333;
}
/* line 27, ../../../scss/layout/header/header-center.scss */
header .header-center .inner .blk-login img {
  margin: 0 23px 0 0;
  border-radius: 5px;
  float: left;
}
/* line 33, ../../../scss/layout/header/header-center.scss */
header .header-center .inner .blk-login ul {
  background: #E5E5E5;
  padding: 5px 0 5px 77px;
  margin: 16px 0 0 -67px;
  width: 100% !important;
  height: 19px;
}
/* line 45, ../../../scss/layout/header/header-center.scss */
header .header-center .inner .blk-login ul li {
  display: inline-block;
  font: 1em sans-serif;
}
/* line 48, ../../../scss/layout/header/header-center.scss */
header .header-center .inner .blk-login ul li a {
  color: #2e5352;
  text-decoration: none;
}
/* line 54, ../../../scss/layout/header/header-center.scss */
header .header-center .inner .blk-login ul li.user {
  position: absolute;
  background: #FFF;
  padding: 9px 11px 7px 33px;
  margin: -8px 0 0;
  border-radius: 3px;
  -moz-box-shadow: 0 0 5px 0px #C3C3C3;
  -webkit-box-shadow: 0 0 5px 0px #C3C3C3;
  box-shadow: 0 0 5px 0px #C3C3C3;
  background: url(../images/icons/icon-loggedin.png) 8px 11px no-repeat #FFF;
}
/* line 66, ../../../scss/layout/header/header-center.scss */
header .header-center .inner .blk-login ul li.logout {
  position: absolute;
  right: 0;
  margin: -2px 3px 0 0;
}
/* line 71, ../../../scss/layout/header/header-center.scss */
header .header-center .inner .blk-login ul li.logout a {
  display: block;
  padding: 20px 0 0 0;
  overflow: hidden;
  height: 0;
  width: 20px;
  background: url(../images/icons/icon-logout.png) center center no-repeat;
}
/* line 82, ../../../scss/layout/header/header-center.scss */
header .header-center .inner .blk-login ul li.login {
  position: absolute;
  background: #FFF;
  padding: 9px 11px 7px 37px;
  margin: -8px 0 0;
  border-radius: 3px 0 0 3px;
  -moz-box-shadow: -3px 0 0 3px #C3C3C3;
  -webkit-box-shadow: -3px 0 0px 3px #C3C3C3;
  box-shadow: -5px 0 5px 0px #C3C3C3;
  background: url(../images/icons/icon-lock.png) 14px 7px no-repeat #FFF;
}
/* line 94, ../../../scss/layout/header/header-center.scss */
header .header-center .inner .blk-login ul li.register {
  position: absolute;
  background: #FFF;
  padding: 9px 20px 7px 57px;
  margin: -8px 0 0 79px;
  border-radius: 0 3px 3px 0;
  -moz-box-shadow: 0 0 5px 0px #C3C3C3;
  -webkit-box-shadow: 0 0 5px 0px #C3C3C3;
  box-shadow: 5px 0 5px 0px #C3C3C3;
  background: url(../images/icons/icon-pencil.png) 33px 9px no-repeat #FFF;
}
/* line 105, ../../../scss/layout/header/header-center.scss */
header .header-center .inner .blk-login ul li.register:before {
  content: "";
  margin: 0;
  position: absolute;
  top: 8px;
  right: 120px;
  color: #C4C4C4;
  border-left: 1px solid #C4C4C4;
  height: 18px;
}
@media screen and (max-width: 660px) {
  /* line 127, ../../../scss/layout/header/header-center.scss */
  header .header-center .inner .blk-login {
    width: 100%;
  }
}
/* line 2, ../../../scss/layout/header/header-bottom.scss */
header .header-bottom {
  background: #234240;
}
/* line 7, ../../../scss/layout/header/header-bottom.scss */
header .header-bottom .inner {
  max-width: 1200px;
  margin: 0 auto;
  height: 50px;
  position: relative;
}
@media only screen and (max-width: 800px) {
  /* line 21, ../../../scss/layout/header/header-bottom.scss */
  header .header-bottom .inner {
    height: auto;
    padding: 0px;
  }
  /* line 27, ../../../scss/layout/header/header-bottom.scss */
  header .header-bottom .inner:after {
    content: '';
    display: table;
    clear: both;
  }
}
