/* line 1, ../../scss/pages/store-node.scss */
.node-type-product-display .main-content .commerce-product-field-field-images {
  width: 30%;
  display: inline-block;
}

/* line 6, ../../scss/pages/store-node.scss */
.node-type-product-display .main-content .product-txt {
  border: 1px solid #426F6F;
  width: 65%;
  border-radius: 3px;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  background: #F7F7F7;
}

/* line 16, ../../scss/pages/store-node.scss */
.node-type-product-display .main-content .product-txt label {
  font-weight: bold;
  color: #426F6F;
  margin: 10px 0 5px;
}
